html {
    box-sizing: border-box;                 /* padding и border включены в width и height. Не надо думать о размере контейнера */
}

*,
*::before,                                  /*Изучить*/
*::after {
    box-sizing: inherit;                    /* inherit - наследовать */
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

body {
    min-width: 320px;
    word-break: normal;
    font-family: "Roboto", sans-serif;
}

/* global */

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.button-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navigation-button-style {
    padding: 8px 16px;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--button-color);
    color: var(--white)
}

.button-in-cards {
    padding: 8px 16px;
    font-weight: 400;
    font-size: 14px;
    background-color: var(--button-color);
    color: var(--white);
    position: absolute;
    left: 20px;
    top: 150px;
}

.elements-in-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elements-in-column {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}


:root {
    --button-color: #1e3daf;
    --white: #ffffff;
    --white12: rgb(255 255 255 / 0.12);
    --white40: rgb(255 255 255 / 0.4);
    --black: #2A2F37;
    --black2: rgb(42 47 55 / 0.02);
    --black4: rgb(42 47 55 / 0.04);
    --black8: rgb(42 47 55 / 0.08);
    --black12: rgb(42 47 55 / 0.12);
    --black40: rgb(42 47 55 / 0.4);
    --black60: rgb(42 47 55 / 0.6);
    --black80: rgb(42 47 55 / 0.8);
}

/*-----------------------------header */

.header {
    border-bottom: 1px solid var(--black12);
    background-color: var(--white);
    
}

.header-wrapper {
    max-width: 1170px;
    height: 72px;
    margin: 0 auto;
    align-content: center;
}

.header-line-size {
    width: 80%;
}

.search {
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid var(--black40);
    border-radius: 50%;
    margin: 2px 4px 2px 2px;
}

.search::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--black40);
    transform: rotate(45deg);
    bottom: 0px;
    clip-path: inset(0 0 0 55%);
}

.login-button {
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
    position: relative;
    padding: 5px 5px 5px 25px;
    margin-right: 50px;
}

.login-button::after {
    content: '';
    position: absolute;
    top: 14px;
    right: 48px;
    width: 16px;
    height: 6px;
    border-top: 2px solid var(--black40);
    border-right: 2px solid var(--black40);
    border-left: 2px solid var(--black40);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.login-button::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid var(--black40);
    border-radius: 50%;
    right: 52px;
    top: 4px;
}


/*-----------------------------first section */

.grid-first-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 35px;
}

.first-section-elements-wrapper {
    margin: 100px 0 150px;
    grid-column: 1 / span 5;
}

.first-section-title {
    font-weight: 700;
    font-size: 48px;
    font-family: "Roboto Slab", sans-serif;
}

.first-section-paragraph {
    font-weight: 400;
    font-size: 16px;
    color: var(--black80);
    line-height: 24px;
    margin: 40px 0 40px;
}

.first-section-bg {
    background-image: url(../img/main/first-section/first-section-bg.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.search-input {
    height: 50px;
    padding: 0px 16px;
    background-color: var(--black12);
    border-color: var(--black8);
    outline: none;
}

.search-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: var(--black40);
}

.input-search-logo {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid var(--black40);
    border-radius: 50%;
    margin: 2px 4px 2px 2px;
    top: 14px;
    right: 15px;
}

.input-search-logo::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--black40);
    transform: rotate(45deg);
    bottom: 0px;
    clip-path: inset(0 0 0 55%);
}

.for-input-search-logo {
    display: flex;
    flex-direction: column;
    position: relative;
}


/*-----------------------------second section */

.second-section-bg-color {
    background-color: var(--black12);
    max-width: 1920px;
    margin: 0 auto;
}

.second-section-navigation-wrapper {
    width: 645px;
    padding: 40px 0 80px 0;
    grid-column: 1 / span 3;
}

.button-in-list {
    font-weight: 400;
    font-size: 16px;
    padding: 8px 16px;
}

.button-in-list:hover {
    background-color: var(--black4);
    transition: 0.2s;
}

.button-in-list:focus {
    background-color: var(--button-color);
    color: var(--white);
}

.second-section-title {
    font-family: "Roboto Slab", sans-serif;
    font-size: 24px;
    grid-column: 1 / span 3;
}

.grid-second-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 40px;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 160px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    position: relative;
    cursor: pointer;
    gap: 18px;
}

.cards-img {
    width: 100%;
    height: 200px;
}

.cards-title {
    font-weight: 700;
    font-size: 18px;
    margin: 8px 24px 0 24px;
}

.cards-bottom {
    display: flex;
    justify-content: space-between;
    padding:  8px 24px 24px 24px;
    color: var(--black60);
    font-weight: 400;
    font-size: 14px;
}

.cards-paragraph {
    font-size: 14px;
    font-weight: 400;
    color: var(--black80);
    line-height: 24px;
    margin: 0 24px 0 24px;
}

.view-text {
    position: relative;
}

.view-text::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border: 2px solid var(--black40);
    border-radius: 50%;
    top: 5px;
    right: 35px;
}

.view-text::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid var(--black40);
    right: 30px;
    border-radius: 70% 20%;
    transform: rotate(45deg);
}

.download-button {
    font-family: "Roboto Slab", sans-serif;
    font-size: 16px;
    grid-column: 2;
    padding: 12px 45px;
    border: 1px solid var(--black);
    width: 240px;
    justify-self: center;
    font-weight: 700;
}

.download-button::before {
    content: ' \21C4';
    margin-right: 7px;
}

/*.download-button::before {
    content: '';
    width: 12px;
    height: 4px;
    border-top: 1px solid var(--black);
    border-left: 1px solid var(--black);
    border-top-left-radius: 3px;
    position: absolute;
    left: 35px;
    top: 17px;
}

.download-button::after {
    content: '';
    width: 3px;
    height: 3px;
    border-top: 1px solid var(--black);
    border-left: 1px solid var(--black);
    position: absolute;
    transform: rotate(135deg);
    left: 44px;
    top: 16px;
}*/

/*-----------------------------footer */

.footer-bg-color {
    background-color: var(--black);
    max-width: 1920px;
    margin: 0 auto;
    height: 305px;
}

.after-logo {
    font-weight: 400;
    font-size: 12px;
    color: var(--white40);
    margin-left: 40px;
    padding-left: 40px;
    border-left: 1px solid var(--white40);
}

.fitst-line-padding {
    padding-top: 50px;
    padding-bottom: 65px;
}

.link-padding {
    padding: 0 20px 0 20px;
}

.center-elements-text{
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
    padding-bottom: 50px;
    border-bottom: 1px solid var(--white12);
    margin-bottom: 25px;
}

.address-gap{
    gap: 215px;
}

.bottom-elements-text{
    font-weight: 400;
    font-size: 12px;
    color: var(--white40);
}

.privacy-policy {
    text-decoration: underline;
}